.hero {
  min-height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_item {
  width: 85%;
  margin: 0 auto;
}

.hero_content {
  font-size: 40px;
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 70px;
  text-align: left;
  color: white;
  position: absolute;
  width: 451px;
  height: 294px;
  top: 133px;
}

.hero_content span {
  font-family: "Baskervville", serif;
  font-weight: 600;
}

.frameForm {
  position: absolute;
  padding: 60px 0 100px;
  width: 85%;
  bottom: 40px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.frameForm input,
.chooseDateSelect_item {
  height: 16px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid rgba(213, 212, 220, 1);
  display: block;
  margin-top: 8px;
  color: black;
  outline: none;
  font-size: 12px;
  font-family: "Montserrat";
  animation-timing-function: ease-out;
  animation-duration: 50ms;
}

.frameForm input::placeholder,
.chooseDateSelect_item span {
  color: rgba(213, 212, 220, 1);
  font-family: "Montserrat";
}

.frameForm input:active,
.chooseDateSelect_item:active {
  border: 1px solid rgba(139, 180, 255, 1);
}

.frameForm input:focus,
.chooseDateSelect_item:focus {
  border: 1px solid rgba(33, 65, 183, 1);
}

.frameForm input:hover,
.chooseDateSelect_item:hover {
  background: rgba(245, 248, 255, 1);
  background: linear-gradient(0deg, #f5f8ff, #f5f8ff);
}

.frameForm label {
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(16, 0, 46, 1);
}

.arrows {
  margin-top: 30px;
  font-size: 18px;
}

.textInput input {
  width: 160px;
}

.checkOutSelect input {
  width: 280px;
}

.chooseDateSelect_item {
  position: relative;
  width: 200px;
}

.btnSearch {
  position: absolute;
  right: 25px;
  bottom: 35px;
  color: #2141b7;
  border: 2px solid;
  border-radius: 8px;
  padding: 8px 10px;
  font-weight: 500;
  background: transparent;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Poppins";
  cursor: pointer;
}

.guestCount {
  width: 200px;
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  border: 1px solid #d5d4dc;
  padding: 12px;
  background-color: white;
  z-index: 9;
  text-align: center;
}

.clickBtn {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.guestCount button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 5px;
  font-size: 18px;
  padding: 0;
}

.datePicker {
  position: relative;
}

.datePicker svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-30%);
  font-size: 14px;
}

.chooseDateSelect_item svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
}
