.hero {
  height: 665px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_item {
  width: 85%;
  margin: 0 auto;
}

.hero_content {
  font-size: 40px;
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 70px;
  text-align: left;
  color: white;
  position: absolute;
  width: 451px;
  height: 294px;
  top: 133px;
  left: 100px;
}

.hero_content span {
  font-family: "Baskervville", serif;
  font-weight: 600;
}

.frameForm {
  position: absolute;
  padding: 60px 0 100px;
  width: 85%;
  bottom: 40px;
  left: 100px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.frameForm label {
  margin-bottom: 15px;
  font-family: "Baskervville", serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.arrows {
  margin-top: 25px;
  font-size: 18px;
}

.textInput input {
  width: 180px;
  height: 18px;
  border-radius: 8px;
  border: 1px solid #d5d4dc;
  padding: 12px;
  gap: 10px;
  display: block;
  margin-top: 5px;
  outline: none;
  font-size: 12px;
  font-family: "Montserrat";
}

.textInput input::placeholder {
  color: #333;
}

.checkOutSelect input {
  width: 300px;
  height: 18px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #d5d4dc;
  display: block;
  margin-top: 5px;
  color: black;
  outline: none;
  font-size: 12px;
  font-family: "Montserrat";
}

.chooseDateSelect .chooseDateSelect_item {
  position: relative;
  width: 230px;
  height: 18px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d5d4dc;
  margin-top: 5px;
  color: black;
  font-size: 12px;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
}

.btnSearch {
  position: absolute;
  right: 25px;
  bottom: 35px;
  color: #2141b7;
  border: 2px solid;
  border-radius: 8px;
  padding: 8px 10px;
  font-weight: 500;
  background: transparent;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Poppins";
  cursor: pointer;
}

.guestCount {
  width: 230px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  border: 1px solid #d5d4dc;
  padding: 12px;
  background-color: white;
  z-index: 9;
  text-align: center;
}

.clickBtn {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.guestCount button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 5px;
}
